@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
  background-color: #ffffff;
}

.button {
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 28px;
  padding-left: 70px;
  padding-right: 70px;
}

.logo {
  width: 140px;
  z-index: 1;
}

.logo-sedona {
  margin-bottom: -12px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-item {
  position: relative;
}

.navigation-user {
  margin-left: auto;
}

.navigation-user .navigation-link {
  width: 44px;
  padding: 22px 12px;
  box-sizing: border-box;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 15px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.number-likes {
  position: absolute;
  transform: translate(19px, -43px);
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: #7DB54F;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.number-likes-inner {
  position: absolute;
  transform: translate(19px, -58px);
  font-size: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: #7DB54F;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-navigation-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: 20px;
}

.button-navigation-link:hover {
  background-color: #615048;
}

.button-navigation-link:focus {
  background-color: #615048;
}

.button-navigation-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-navigation-link:disabled {
  background-color: #E5E5E5;
}

.main {
  position: relative;
  width: 1200px;
  color: #ffffff;
}

.wrapper-main-images {
  position: relative;
  background-image: url("../images/canyon-landscape.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #7a2f2f;
}

.main-inscription-welcome {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
  padding-top: 50px;
}

.steps-icons {
  position: absolute;
  background-image: url("../images/steps.svg");
  width: 1200px;
  height: 57px;
  background-repeat: no-repeat;
  z-index: 1;
  transform: translateY(-56px);
}

.about-sedona {
  color: #000000;
  text-align: center;
  padding: 69px 274px;
  background-color: #FFFFFF;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 25px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
}

.container-advantages {
  margin: 100px 85px;
}

.advantages-title-cart {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.white-container {
  margin: 110.5px 85px;
}

.decorative-line {
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.3);
}

.advantages-discription {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.grey {
  color: #333333;
}

.advantages-img {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
}

.background-white {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.background-grey {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.services {
  margin: 0;
  text-align: center;
  color: #000000;
}

.services-title {
  display: block;
  margin: 64px 348px 20px 348px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-comment {
  color: #333333;
  margin: 20px 355px 64px 355px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  position: relative;
  width: 400px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.icons-house {
  position: absolute;
  background-image: url("../images/house.svg");
  width: 76px;
  height: 72px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transform: translate(-38px, 1px);
}

.icons-burger {
  position: absolute;
  background-image: url("../images/burger.svg");
  width: 75px;
  height: 70px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transform: translate(-38px, 2px);
}

.icons-present {
  position: absolute;
  background-image: url("../images/present.svg");
  width: 65px;
  height: 76px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transform: translate(-32px, -1px);
}

.services-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 103px;
  margin-bottom: 30px;
}

.services-comment-subtitle {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

.container-interest {
  margin: 96px 304px 95px;
}

.services-title-interest {
  display: block;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-comment-interest {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.button-services {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 4px;
  text-transform: uppercase;
}

.button-services:hover {
  background-color: #615048;
}

.button-services:focus {
  background-color: #615048;
}

.button-services:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-services:disabled {
  background-color: #E5E5E5;
}

.newsletter {
  text-align: center;
  color: #ffffff;
  background-image: url("../images/blurred-devils-bridge.jpg");
  background-color: #7a2f2f;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 98px 258px 103px 258px;
}

.newsletter-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-comment {
  margin: 0;
  padding-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}


.newsletter-field {
  width: 452px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px 0 0 4px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
}

.newsletter-field:hover {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(0, 0, 0, 0.1);
}

.newsletter-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.newsletter-field:active {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 0.1);
}

.newsletter-field:disabled {
  color: rgba(0, 0, 0, 0.1);
}

.newsletter-field::placeholder {
  color: #000000;
}


.newsletter-button {
  font-family: inherit;
  width: 232px;
  font-size: 20px;
  border: none;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  background-color: #68A2CA;
}

.newsletter-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:disabled {
  background-color: #E5E5E5;
}

.newsletter-form {
  display: flex;
  border-radius: 4px;
}

.newsletter-email {
  font-family: inherit;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  color: #000000;
  background-color: #ffffff;
}

.footer-social {
  display: flex;
}

.footer-social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  margin-right: 0;
}

.footer-social-link {
  display: block;
  padding: 13px 11px;
}

.footer-social-button {
  fill: #83B3D3;
}

.footer-social-button:hover {
  fill: #68A2CA;
}

.footer-social-button:focus {
  fill: #68A2CA;
}

.footer-social-button:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-button:disabled {
  fill: #E5E5E5;
}

.footer-contacts {
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-contacts-phone:disabled {
  color: #E5E5E5;
}

.footer-logo {
  padding-top: 48px;
  padding-bottom: 39px;
}

.footer-logo-html {
  cursor: pointer;
  fill: #000000;
}

.footer-logo-html:hover {
  fill: #756157;
}

.footer-logo-html:focus {
  fill: #756157;
}

.footer-logo-html:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-logo-html:disabled {
  fill: #E5E5E5;
}

.main-inner {
  margin-top: 0;
  padding-top: 0;
}

.section-images {
  background-image: url("../images/blurred-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #7a2f2f;
  color: #ffffff;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  margin-left: 70px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  list-style-type: none;
  margin-left: 70px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-home {
  color: #ffffff;
}

.breadcrumbs-arrow {
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}

.breadcrumbs-status {
  fill: #ffffff;
}

.breadcrumbs-status:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-status:focus {
  color: #ffffff;
}

.breadcrumbs-status:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-status:disabled {
  color: #E5E5E5;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group-input {
  margin-left: 81px;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter {
  display: flex;
  margin: 40px 70px 70px;
  margin-bottom: 0;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.facilities {
  position: relative;
  display: block;
  padding-left: 36px;
}

.facilities-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}



.facilities-input:hover + span {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: rgba(63, 94, 114, 1);
}

.facilities-input:focus + span {
  outline: 3px solid #83B3D3;
}

.facilities-input:active + span {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: rgba(63, 94, 114, 1);
}

.facilities-input:disabled + span {
  color: #E5E5E5;
}

.facilities-input[type="checkbox"]:checked + .facilities-mark::before,
.facilities-input[type="checkbox"]:checked + .facilities-mark::after {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
  background-image: url(../images/check.svg);
  content: "";
}

.facilities-input[type="radio"] + .facilities-mark {
  border-radius: 50%;
}

.facilities-input[type="radio"]:checked + .facilities-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.facilities-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.facilities-label:hover {
  color: rgba(255, 255, 255, 0.3);
}

.facilities-label:focus {
  color: #ffffff;
}

.facilities-label:active {
  color: rgba(255, 255, 255, 0.5);
}

.facilities-label:disabled {
  color: #E5E5E5;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin: 0;
  margin-top: 44px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -1px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  position: relative;
  margin-right: 2px;
}

.range-input {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 143px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  box-sizing: border-box;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  outline: 3px solid #68A2CA;
}

.range-input:active {
  outline: 2px solid #000000;
}

.range-input:disabled {
  color: #E5E5E5;
}

.range-input-left {
  border-radius: 4px 0 0 4px;
}

.range-input-right {
  border-radius: 0 4px 4px 0;
}

.range-input[type="number"]::-webkit-outer-spin-button,
.range-input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input[type="number"] {
  appearance: textfield;
}

.range-input-scale {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  top: 12px;
  left: 105px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 73px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.button-filter {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.button-blue {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:disabled {
  background-color: #E5E5E5;
}

.button-transparent {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  padding: 8px 50px;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
  text-transform: uppercase;
  cursor: pointer;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:focus {
  outline: 3px solid #83B3D3;
  color: #ffffff;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  color: #E5E5E5;
}

.sorting {
  display: flex;
  width: 1060px;
  height: 49px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.search-hotel-title {
  font-family: "PT Sans", "Arial", sans-serif;
  align-self: center;
  margin: 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", "Arial", sans-serif;
  align-self: center;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 12px 105px 12px 18px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
  margin-right: 70px;
}

.select-control:hover {
  outline: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.select-control:disabled {
  outline: 2px solid #E5E5E5;
}

.sorting-icons {
  display: flex;
  margin: 0;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}

.sorting-icons .button-icons:not(:last-child) {
  margin-right: 8px;
}

.sorting-button {
  padding: 15px 14px;
}

.button-icons:hover {
  outline: 2px solid #000000;
}

.button-icons:focus {
  outline: 2px solid #83B3D3;
}

.button-icons:active {
  outline: 2px solid #000000;
}

.button-icons:disabled {
  outline: 2px solid #000000;
}

.button-small-icons {
  border: 2px solid black;
  border-radius: 4px;
}

.button-big-icons,
.button-list {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-hotel-card {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;
  row-gap: 19px;
  width: 1060px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  align-items: center;
  column-gap: 20px;
  row-gap: 17px;
  width: 300px;
  padding: 20px;
  padding-left: 19px;
  padding-top: 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1/3;
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin-top: 12px;
  margin-bottom: -23px;
}

.hotel-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 0;
}

.price {
  transform: translate(62px, 1px);
}

.stars {
  background-size: 22px 17px;
  height: 1em;
  align-self: center;
  cursor: pointer;
}

.stars-4 {
  width: 90px;
}

.stars-3 {
  width: 66px;
}

.stars-2 {
  width: 42px;
}

.hotel-card-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  text-decoration: none;
  padding: 8px 26px;
  border-radius: 4px;
  text-transform: uppercase;
}

.hotel-card-button:hover {
  background-color: #615048;
}

.hotel-card-button:focus {
  background-color: #615048;
}

.hotel-card-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button:disabled {
  color: #E5E5E5;
}

.hotel-card-button-blue {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 4px;
  text-transform: uppercase;
}

.hotel-card-button-blue:hover {
  background-color: #68A2CA;
}

.hotel-card-button-blue:focus {
  background-color: #68A2CA;
}

.hotel-card-button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button-blue:disabled {
  color: #E5E5E5;
}

.hotel-card-button-on {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #7DB54F;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 4px;
  text-transform: uppercase;
}

.hotel-card-button-on:hover {
  background-color: #6C9E42;
}

.hotel-card-button-on:focus {
  background-color: #6C9E42;
}

.hotel-card-button-on:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button-on:disabled {
  color: #E5E5E5;
}

.hotel-card-rating {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  background-color: #F2F2F2;
  text-decoration: none;
  padding: 9px 22px;
  margin: 0;
  border-radius: 4px;
  text-transform: uppercase;
}

.decorative-long-line {
  margin: 37px 70px 35px;
}

.pagination-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  font-family: "PT Sans", "Arial", sans-serif;
  display: block;
  box-sizing: border-box;
  padding: 12px 24px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.pagination-two-digit {
  padding: 12px 18px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:disabled {
  color: #E5E5E5;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #F2F2F2;
  text-decoration: none;
}

.pagination-current:hover {
  background-color: #F2F2F2;
}

.pagination-current:focus {
  background-color: #F2F2F2;
}

.pagination-current:active {
  background-color: #F2F2F2;
}

.pagination-current:disabled {
  background-color: #F2F2F2;
}


.pagination-white {
  color: #000000;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
}

.inner {
  color: #000000;
  background-image: none;
  background-color: #ffffff;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-search {
  width: 577px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: #83B3D3;
}

.modal-close-button:active {
  background-color: rgba(230, 230, 230, 0.1);
  color: rgba(0, 0, 0, 0.1);
}

.modal-close-button:disabled {
  color: rgba(0, 0, 0, 0.1);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.wrapper-modal {
  display: grid;
  grid-template-columns: 137px 110px 219px 110px;
}

.form-field-search {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  align-self: center;
}

.info-search {
  position: absolute;
  padding: 0;
  top: 367px;
  right: 227px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83B3D3;
  display: block;
}

.tooltip-text {
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 19px 18px 23px 22px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  top: 100%;
  margin-top: -168px;
  margin-left: -186px;
  z-index: 1;
  display: none;
}

.info-search:hover + .tooltip-text,
.info-search:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/triagle.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.arrival-date {
  margin-right: 19px;
  grid-column: 1/2;
}

.input-arrival {
  grid-column: 2/5;
}

.signature-red {
  grid-column: 2/4;
  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.departure-date {
  margin-right: 14px;
  grid-column: 1/2;
}

.input-departure {
  grid-column: 2/5;

}

.signature-blac {
  grid-column: 2/5;
  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.adults-form {
  grid-column: 1/2;
}

.wrapper-button-adults {
  display: flex;
  grid-column: 2/3;
}

.сhildren-form {
  grid-column: 3/4;
}

.plus {
  margin-right: 83px;
}

.wrapper-button-children {
  display: flex;
  grid-column: 4/5;
}

.arrival-date-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 210px 12px 20px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.1);
}

.arrival-date-input:hover {
  background-color: rgba(230, 230, 230, 0.1);
  color: rgba(0, 0, 0, 0.1);
}

.arrival-date-input:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.arrival-date-input:active {
  background-color: rgba(242, 242, 242, 0.1);
  color: rgba(0, 0, 0, 0.1);
}

.arrival-date-input:disabled {
  color: rgba(0, 0, 0, 0.1);
}

.arrival-date-input::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

.arrival-icon {
  transform: translate(539px, -32px);
}

.signature-input {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 23px;
}

.wrapper-inputs {
  display: flex;
  height: 48px;
}

.form-field-number {
  display: flex;
}

.adults-form {
  margin-right: 46px;
}

.сhildren-form {
  margin-right: 82px;
}

.input-number {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  width: 31px;
  appearance: none;
  border: none;
  background-color: #F2F2F2;
}

.input-number[type="number"]::-webkit-outer-spin-button,
.input-number[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.input-number[type="number"] {
  appearance: textfield;
}

.button-number {
  border: none;
  background-color: #F2F2F2;
}

.button-minus {
  padding: 0;
  width: 40px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-plus {
  padding: 0;
  width: 39px;
  height: 48px;
  border-radius: 0 4px 4px 0;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button-search {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 18px 256px;
  margin-top: 48px;
  background-color: #83B3D3;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  grid-column: 1/5;
}

.button-search:hover {
  background-color: #68A2CA;
}

.button-search:focus {
  background-color: #68A2CA;
}

.button-search:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.1);
}

.button-search:disabled {
  color: rgba(255, 255, 255, 0.1);
}
